<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://beedevservices.github.io/beedev-css/framework/beedev.css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>SuperHero API App</title>
</head>
<body>
    <header>
        <h1>Welcome, {{user.firstName}} to our API app</h1>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        <form id="searchForm" onsubmit="search(event)" >
            <h2>Search</h2>
            <input type="text" name="query">
            <input type="submit" value="Search" >
        </form>
        <form id="searchForm2" onsubmit="search(event)" >
            <button>Get Tune</button>
        </form>
    </main>
    <footer>
        <p>©2021 Made By Melissa</p>
    </footer>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>